<style>
        /* Set the border color */
          
        .custom-toggler.navbar-toggler {
            border-color: rgb(31, 199, 241);
        }
        /* Setting the stroke to green using rgb values (0, 128, 0) */
          
        .custom-toggler .navbar-toggler-icon {
            background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(128, 128, 128, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
        .white{
    border-color: rgb(136, 223, 24);
}
</style>

<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid ">
        <a class="navbar-brand text-info" href="/"> <b>LEGION DARK </b></a>
        <img class=" navbar-brand" src="./img/logo.png" alt="" width="55" height="45">

      <button class="navbar-toggler navbar-toggler ml-auto custom-toggler "  type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon navbar-light"></span>
      </button>
      <div class=" collapse navbar-collapse " id="navbarText">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="/"><b>Inicio</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/contacto"><b>Contacto</b></a>
          </li>
         
        </ul>
        <ul class="navbar-nav ml-auto">
          <a href="/login" class="btn btn-info text-right" style="margin-right: 0px;">Iniciar sesión</a>

        </ul>

      </div>
    </div>
  </nav> 