<%- include ("./partials/cabecera") %> 
<%- rolAdmin!=false?include("./partials/navbar"):include("./partials/navbarUser")%> 

<h1 class="text-info text-center mb-5"><b>Sección ayuda LEGION DARK</b></h1>



<div class=" text-center mt-5 mb-5">
    <br>

</div>

<div class=" w-75 container text-center">
    <div class="row row-cols-auto">

        <h3 class="m-auto">YouTube</h3> 

        <p class="m-auto mt-3">Nuestras reproducciones reales, estables y pagables de YouTube si tu canal esta monetizado te posicionan en el home de YouTube sectorizando lugares de chile (solo en usuario oro se puede elegir las ubicaciones de estas reproducciones) en usuario plata o pedir un servicio por Instagram a través de Instagram son reproducciones sectorizadas de todo chile 

            Posicionamiento en home de YouTube te permite llegar a usuarios desconocido de tu contenido visual posicionando en el home yo te aseguro que un 70% son reproducciones reales, pagables y estables, el otro 30% solo se posiciona en el home y son pagables, va variando este porcentaje positivamente dependiendo netamente de tu contenido. 
            
            Para monetizar un canal podemos ver servicios que son más caro que otros son diferentes suscriptores que nos permite que YouTube no detecte suscriptores no monetizable, podemos ver en categoría una sección de monetización donde vemos servicios que no ayudan a monetizar un canal de YouTube de cero 
            El conjunto de impresiones, likes comentarios y reproducciones se pueden hacer tendencia en el país que subas las reproducciones, primero debes observar los números actuales de tendencia en el país que necesites de esta forma entrar en los puestos de tendencia (más información en el curso de usuario oro) 
            </p>
            <br><br>

            <h3 class="m-auto mt-5">Instagram</h3>
            <p class="m-auto mt-3">
                Podemos observar que tenemos tres tipos de seguidores americanos, latinos y chilenos estos servicios se completan de 6 horas a 12 horas, si no se efectúa el servicio contactarse al Gmail de la pagina web para obtener más información sobre tu servicio 
                
                Verificaciones tarda 1 mes y medio el proceso donde se cancela el 50% al empezar el proceso y el otro 50% cuando finalice este proceso si es mediante el Instagram, si es mediante la pagina web el pago completo (para más información se realiza en el curso de usuario oro)
                
                Live de Instagram solo la información se entrega en curso de usuario oro 
                
                Facebook, Twitter, Spotify, Tik-Tok Todas estas otras plataformas los servicios se tardan de 6 horas a 12 horas si no se logra tu servicio con tu link y numero de servicio e imágenes correspondientes del pedido se entrega a través del correo de la pagina web y se adjunta en el correo información correspondientes
                </p>
        
    </div>
</div>


<%- include ("./partials/footer") %> 
<%- include ("./partials/pie") %> 