<%- include ("./partials/cabecera") %> 
<%- rolAdmin!=false?include("./partials/navbar"):include("./partials/navbarUser")%> 

<h1 class="text-info text-center mb-5"><b>Agregar saldo</b></h1>



<div class=" text-center mt-5 mb-5">
    <br>

</div>

<div class=" w-75 container text-center">
    <div class="row row-cols-auto">
        <h4>Estamos trabajando para incorporar esta functionalidad</h4>


        
    </div>
</div>


<%- include ("./partials/footer") %> 
<%- include ("./partials/pie") %> 