<%- include ("./partials/cabecera") %> 
<%- rolAdmin!=false?include("./partials/navbar"):include("./partials/navbarUser")%> 

<h1 class="text-info text-center mb-5"><b>Lo sentimos su pedido no pudo ser procesado</b></h1>

<h3 class="text-info text-center mb-5"><b>Revisa tu saldo</b></h3>

<div class=" text-center mt-5 mb-5">
    <br>

</div>

<div class=" w-75 container text-center">
    <div class="row row-cols-auto bg-success">
        

        
    </div>
</div>


<%- include ("./partials/footer") %> 
<%- include ("./partials/pie") %> 